<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>Au nord-est de Tokyo, le long de la rivière Sumida le quartier d'Asakusa a su conserver
        l'ambiance des quartiers populaires de l'époque impériale d'Edo. Le vaste temple de Senso-Ji
        et ses ruelles commerçantes animées sont un incontournable de Tokyo.<br>
        La tour Skytree culminant à 634m offre de nombreuses activités originales et des centres commerciaux géants.<br>
        A l'ouest, le parc d'Ueno est très apprécié, surtout à l'époque des cérisiers en fleur. On y trouve plusieurs temples
        et musées ainsi que la rue commerçante d'Ameyoko.</p>
      </div>
    </div>
</section>
<br>
<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-md-6">
        <h1>Le temple de Senso-Ji</h1>
        <p>Au VIIème siècle, des pécheurs trouvent une statuette de Kannon, déesse de la miséricorde, dans la rivière
        de Sumida. Il est alors décidé de commencer la construction d'un temple.Depuis, le site ne cesse d'être agrandi
         et est devenu l'un des plus cèlebres endroits de
          recueuillement au japon. A l'immense temple rouge se sont ajoutés une pagode de 5 étages et 3 énormes et célèbres
           portes où sont supendues de gigantesques lanternes.</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa005.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Les quartiers commerçants</h1>
        <p>Si la rue de Nakamise qui fait face au temple est la plus célèbre et la plus photogénique, de nombreuses
        autres ruelles et places autour d'Akasuka et de Ueno sont remplies de boutiques et petits commerces traditionnels.<br>
        La plupart vendent de la nourriture et des spécialités japonaises diverses, salées ou sucrées, toutefois on peut
        trouver aussi souvenirs et cadeaux originaux.</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Le parc d'Ueno</h1>
        <p>Tout le monde aime Ueno ! Populaire des Tokyoïtes pour passer le week-end avec la famille ou entre amis,
          Ueno est aussi une destination touristique privilégiée.<br>
          Le parc immense abrite de charmants petits temple ainsi que l'immense musée national de Tokyo, le muséum des sciences,
          la maison de la culture et aussi le zoo d'Ueno avec son célèbre panda. Mais c'est surtout au printemps que le parc
           devient une attraction incontournable : quand les cérisiers fleurissent, le parc devient une mer de fleurs roses
           à perte de vue.</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Skytree</h1>
        <p>Haute de 634m, la tour la plus haute du Japon a été achevé en 2012. Les deux observatoires à son sommet offrent une vue
        à couper le souffle sur la capitale. A 350m d'altitude, le "Tombo Deck" sur 3 étage offre une vue à 360°. Pour un supplément,
      il est possible de monter à l'observatoire suivant, à 450m ! Avec de bonne conditions météo, le mont Fuji est bien visible ainsi
    que le grand Tokyo.<br>
    Au pied de la tour, de nombreux commerces et centres commerciaux accueuillent des visiteurs en nombre chaque jour. </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa005.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
</section>
