<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>Au centre de Tokyo se trouve le mystèrieux palais impérial. Bien qu'ouvert au public seulement 2 jours dans l'année,
          les immenses jardins et parcs autour restent accessibles en permanence. Au dela, les quartiers de Ginza et Marunouchi raviront
          les accros du shopping, Akihabara sera le délice de tout Geek ou Otaku et tout le monde sera ébahi par les sushis de Tsukiji.
        </p>
      </div>
    </div>
</section>
<br>
<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-md-6">
        <h1>Les jardins impériaux</h1>
        <p>Autour du palais impérial, de nombreux parcs et jardins peuvent être visité toute l'année. Particulièrement populaire pour la floraison
          des cerisiers, ils restent agréables toute l'année. On y trouvera aussi le Budokan, accueuillant concert et évenement sportif, le temple
          de Yasukuni et le musée de la guerre.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa005.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Akihabara</h1>
        <p>Symbole de la culture Manga et Geek du japon, Aikihabara est nommé la ville électrique grâce à ces enseignes lumineuses illuminant
          les rues dès la nuit tombée. Dès la sortie de la gare, le ton est donnée. Les artères principales regroupent les magasins les plus
        imposants mais les petites ruelles comptent nombre de boutiques intéressantes. Jeu-vidéo rétro, goodies, manga, dvd, gadget geek...
      le choix ne manquera pas.</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Ginza</h1>
        <p>Le quartier du shopping où se succèdent toutes les marques les plus prestigieuses, Ginza possède également de nombreux
          restaurant et café haut de gamme ainsi qu'une vie nocturne à la hauteur de sa démesure. La rue principale de Ginza est rendue
        piétonne le week-end et les jours fériés, rendant la promenade bien agréable.</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Tsukiji</h1>
        <p>Le plus grand marché aux poisson du monde a été ouvert en 1935. A l'intérieur prennent place les enchères et les achats approvisionant
        les innombrables restaurants de poisson de  la capitale. A l'extèrieur, les échoppes, restaurant et magasins permettent de découvrir
        toutes les richesses gastronomiques des mers et océans.<br>
        La visite ne sera pas complète sans une dégustation de sushi !</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa005.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
</section>
