<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>
          A quelques dizaines de kilomètres au sud de Tokyo, la ville cotière de Kamakura est une destination très appréciée des
          japonais eux-même. Plage, complexes de temples de l'époque impériale et statue de Buddah en bronze géante, la ville et ses
          alentours sont riches d'un très ancien patrimoine à ne pas rater.
        </p>
      </div>
    </div>
</section>
<br>
<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-md-6">
        <h1>Kamakura</h1>
        <p>La ville est facilement rejointe via la ligne JR en moins d'une heure depuis Shinjuku. Un charmant petit train local permet
          de rejoindre les différents temples et sites d'intéret. La ville est situé en bord de mer et est célèbre pour ses Shirasu,
          minuscules poissons consommés crus ou bouillis. Il est possible de se baigner ou même de surfer, mais la majorité des visiteurs
          vient pour visiter les nombreux sites historiques et religieux somptueux qui l'ornent.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa005.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Religion</h1>
        <p>Tsurugaoka Hachimangu est le sanctuaire shintoiste le plus important de la ville qu'il surplombe du sommet d'une colline boisé.
         Plus près de la plage, laissez-vous impressionner par la fameuse statue géante de Bouddha dans le temple de Kotoku-in avant de
         vous détendre dans les jardins zen du proche temple de Hase-dara. D'autres sites, parfois moins connus mais tout aussi attrayants,
         se trouvent autour de la ville : Hokoku-ji et sa foret de bambous, le complexe caché dans la roche de Zeniarai-benten ou encore
         le sanctuaire caché de Sasuke Inari.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Enoshima</h1>
        <p>L'île d'Enoshima est une petite ile de quelques kilomêtres reliée au pays par un pont. Station balnéaire prisé des Tokyoïtes,
          Enoshima a de belles plages à proximité de la capitale. Il est possible de monter au sommet de l'île en empruntant un sentier
          ou bien par escalator (!), quelques temples et sanctuaires agrémenteront cette très agréable ballade.</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
</section>
