<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>Odaiba / Baie de Tokyo</p>
      </div>
    </div>
</section>
<br>
<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-md-6">
        <h1>Ile artificielle d'Odaiba</h1>
        <p>
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa005.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Tour de Tokyo</h1>
        <p></p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Roppongi</h1>
        <p>
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
</section>
