<% if trip.gestion.status == 'new' %>

<% elsif trip.gestion.status == 'pending' %>
<div class="label label-success">
  <i class="fa fa-exclamation-circle"></i>
  Voyage réservé. En cours de validation.
</div>

<% elsif trip.gestion.status == 'approved' %>
<div class="label label-warning">
  <i class="fa fa-exclamation-circle"></i>
  Voyage réservé. En attente du paiement.
</div>

<% elsif trip.gestion.status == 'payed' %>
<div class="label label-success">
  <i class="fa fa-exclamation-circle"></i>
  Voyage confirmé. Tout est prêt !
</div>

<% elsif trip.gestion.status == 'final' %>
<div class="label label-success">
  <i class="fa fa-exclamation-circle"></i>
  Votre programme est disponible !
</div>

<% elsif trip.gestion.status == 'done' %>

<% else %>

<% end %>
