<div class="col-md-4 col-sm-6 text-center">
  <div class="row bottom-space">
    <%= image_tag "thumb.jpg", class: "img-circle img-responsive img-center" %>
    <h3><%= trip.name %></a></h3>
    <%= link_to "Détails du voyage", trip_path(trip), class: "btn btn-default" %>
  </div>
</div>
