<div class="col-lg-4 col-sm-6 text-center">
  <a href = "<%= trip_path(trip) %>">
    <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
    <h3><%= trip.name %></a>
        <small><%= link_to "Delete it!", trip_path(trip), method: :delete %></small>
    </h3>
    <p><%= trip.description %> TODO add a visual for status somewhere around here</p>
</div>
