<div class="container">
  <!-- Introduction Row -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Hello !
              <small>It's Nice to see you!</small>
          </h1>
          <p>ATM, you have <%= @trips.length %> trip(s) created !</p>
          <p>It's a good time to <%= link_to "Create a new trip !", new_trip_path %></p>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Your trips :</h2>
      </div>
      <%= render @trips %>
  </div>

</div>
