<!-- Header -->
<header class="business-header">
  <div class="slideshow"></div>
</header>
<!-- Header -->
<section class="container content-section text-center">
  <%= render('shared/infos') %>
</section>
