<section class="container content-section tb-padding">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>
          Oups, une erreur s'est produite...</p>
      </div>
    </div>
</section>
