<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>
          A moins de 2 heures de Tokyo, la station thermale de Hakone permet de passer une journée intéressante dans un cadre magnifique.
          Au coeur de montagnes boisées, cette région volcanique offre aussi des onsens formidables pour se détendre après vos escapades dans
          Tokyo. Par temps clair, il est possible d'appercevoir le mont Fuji depuis le lac Ashi.<br>
          Les fans du manga Evangélion seront ravis de visiter le lieu où Tokyo3 fut bati. :)
        </p>
      </div>
    </div>
</section>
<br>
<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-md-6">
        <h1>Le lac Ashi</h1>
        <p>Au pied des montagnes, le lac d'Ashi offre par temps clair une belle vue sur le mont Fuji. La traversé du lac se fait de manière
          plaisante sur un bateau pirate et permettra de belles photos. En bordure de lac, au coeur d'une foret de cèdre se trouve le charmant
          temple de Hakone.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa005.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Owakudani</h1>
        <p>Après une montée en téléphérique, vous pourrez profiter de la vue et également des vapeurs de souffres s'échappant des
          sources volcaniques proches. Ici, il vous est possible de manger des oeufs durs, cuits directement dans les eaux volcaniques
        bouillonantes. La coquille de l'oeuf est noircie par le souffre. Il est dit que consommer un de ces oeufs prolonge sa vie de
        7 années.</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Onsen</h1>
        <p>La région de Hakone est une destination populaire pour ses Onsen. Ses sources thermales japonaises sont une activité familliale
          populaire pendant les week-ends et les vacances. Particulièrement relaxante, un Onsen en fin de journée, avant votre retour à Tokyo
        sera une expèrience inoubliable.</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
</section>
