<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>
          Proche de Shibuya, le quartier d'Harajuku est célèbre pour ses rues commerçantes aux ambiances variées : la folle ruelle de Takeshita,
          le quartier branché et hipster du CatWalk ou la luxueuse avenue de Meiji, tout le monde y trouvera son bohneur. Derrière la gare,
          le vaste santuaire de MeijiJingue se cache dans une foret immense de cèdres japonais. Tout proche, le grand parc de Yoyogi est un
          lieu de rencontre et de détente toujours animé.
        </p>
      </div>
    </div>
</section>
<br>
<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-md-6">
        <h1>MeijiJingu</h1>
        <p>En 1915, la construction d'un sanctuaire dédié aux âmes divines de l'Empereur Meiji, mort en 1912,
          et de sa femme l'Impératrice Shoken, morte en 1914, débute au milieu d'un jardin dessiné par l'Empereur et
          composé de 100 000 arbres donnés de tout le Japon.<br>
          Le temple est détruit par les bombardements de 1945 et reconstruit en 1958, principalement en bois de cèdre.
          C'est le plus grand lieu de culte shintoïste du pays, où l'on célèbre de nombreux mariages et cérémonies.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa005.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Yoyogi</h1>
        <p>Immense parc jouxtant la foret du proche sanctuaire de MeijiJingue, Yoyogi est un endroit très apprécié des habitants
          pour sortir, surtout le week-end. Dans le parc, les groupes se retrouvent pour jouer de la musique, faire du sport ou
          s'entrainer aux arts martiaux. Le parc abrite aussi des gymnases et stades, héritage des précédents jeux olympiques.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Shopping</h1>
        <p>Les boutiques de marques et le centre commercial luxueux d'OmotesandoHill se trouvent le long de l'avenue Meiji reliant
          Harajuku à Omotesando. Tout autout, s'étendent des quartiers plus calmes abritant de nombreuses galeries d'art,
          des ateliers d'artisans et des boutiques de vêtements branchées. Plus décalées, des rues très colorées comme celle de Takashita
          témoignent de la folie toujours présente de la capitale nippone.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
</section>
