<p class="small-text">
Shinjuku est l'un des 23 arrondissements de Tokyo et celui qui abrite le gouvernement de la préfecture. Centré autour de la gare la plus fréquentée du monde, il combine plusieurs visages tels que : quartier d'affaires, haut lieu de la vie nocturne tokyoïte et spot de shopping pour les amateurs.
Shinjuku est l'un des arrondissements de Tokyo les plus célèbres pour plusieurs raisons.
our comme de nuit, pour sortir ou découvrir la capitale électrique, l'arrondissement est un incontournable et sa gare, la plus fréquentée du monde, accueille plusieurs millions de passagers chaque jour.
</p>
