<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>
          A l'écart des endroits les plus connus de Tokyo, mais jamais très loin, des quartiers populaires et branchés se développent et
          attirent les Tokyoïtes chaque week-end. Visitez ces lieux moins connus des voyageurs qui forment le vrai coeur du Tokyo d'aujourd'hui.
          Mélange réussi de tradition et de modernité, ces quartiers ont su avec brio créer des espaces décontractés mélant art de vivre,
          mode, grastronomie, verdures et architecture,
        </p>
      </div>
    </div>
</section>
<br>
<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-md-6">
        <h1>Meguro</h1>
        <p>Nakameguro / Daikanyama / Jyugaoka
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa005.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Harajuku</h1>
        <p>Omotensando / aoyama / Harajuku
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Setagaya</h1>
        <p>Sangenjaya / Setagaya / Futago
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
</section>
