<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>
          Loin touriste, calme habitation, busy market place, sortie en famille
        </p>
      </div>
    </div>
</section>
<br>
<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-md-6">
        <h1>Quartier populaire</h1>
        <p>Ueno style
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_001.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Zone résidentielle</h1>
        <p>Chiyoda riche, denenchofu style, saitama modeste ?
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_002.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Sortie familliale</h1>
        <p>Parc /festival ou no touriste, pour famille et locaux
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_003.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
</section>
