<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>
          Si le centre de Tokyo regroupe la plupart des grands sites et monuments prestigieux, tout autour s'étend un Tokyo
          souvent méconnu riche en charmants petits trésors. Eloignez-vous de la folie des zones touristiques pour découvrir
          un Tokyo plus calme et humain.
        </p>
      </div>
    </div>
</section>
<br>
<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-md-6">
        <h1>Quartiers populaires</h1>
        <p>Souvent construits après la guerre pour héberger les populations locales, ces quartiers sont aujourd'hui un lieu de vie
          typique pour de nombreux habitants de Tokyo. Autour de rues commerçantes vivantes, de marchés couverts et de boutiques
          d'artisans, vous pourrez vous fondre dans le quotidien des Tokyoïtes et découvrir leur vie.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'local_theme_001.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Zones résidentielles</h1>
        <p>Plus huppés et plus sereins, des quartiers rénovés ou nouvellement bâtis laissent plus de place à la verdure et
          au confort personnel. Ces lieux où il fait bon-vivre contrastent avec l'hyper-centre de la capitale.
           Quelques pas dans ces voisinages paisibles vous permettront de découvrir de véritables trésors cachés.</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'local_theme_002.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Sortie familliale</h1>
        <p>Il y a toujours quelque chose à faire à Tokyo et les habitants le savent bien ! Dans les immenses parcs fleuris
          bordant la capitale, les locaux peuvent profiter de l'espace pour pratiquer leurs sports favoris ou bien pique-niquer à
          l'ombre des cerisiers. Les week-ends de nombreux festivals et foires de saison attirent de nombreux visiteurs locaux et
          internationaux.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'local_theme_003.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
</section>
