<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>
          Si le centre de Tokyo regroupe la plupart des grands sites et monuments prestigieux, tout autour s'étend un Tokyo
          souvent méconnu mais riche de charmants petits trésors. Eloignez vous de la folie des zone touristiques pour découvrir
          un Tokyo plus calme et humain.
        </p>
      </div>
    </div>
</section>
<br>
<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-md-6">
        <h1>Quartier populaire</h1>
        <p>Souvent construit après la guerre pour héberger les populations locales, ces quartiers sont aujourd'hui le lieu de vie
          typique pour les nombreux habitants de Tokyo. Autour de rues commerçantes animés, de marchés couverts et des boutiques
          d'artisans, vous pourrez, pour un moment, vous fondre dans le quotidien des Tokyoïtes.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_001.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Zone résidentielle</h1>
        <p>Plus huppés et appréciés, des quartiers renovés ou nouvellement batis laissent plus de place à la verdure. Ces quartiers où
          il fait bon vivre témoigne de l'envie de sérénité des japonais. Quelques pas dans ces fabuleux voisinages paisibles contrastent
          fabuleusement avec l'hypercentre de la capitale.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_002.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Sortie familliale</h1>
        <p>Il y a toujours quelque chose à faire à Tokyo, et les habitants le savent bien ! Dans les immenses parcs fleuris
          bordant la capitale, les locaux peuvent profiter de l'espace pour pratiquer leur sport favori ou bien pique-niquer à
          l'ombre des cerisiers. Les week-ends de nombreux festivals et foires de saison attirent de nombreux visiteurs locaux et
          internationaux.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_003.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
</section>
