<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>
          Accessible en train ou en bus, la région des cinqs lacs au pied du mont Fuji offre des vues imprenable sur le mythique
          volcan du Japon. Une nature magnifique et des paysages époustouflants attendent à moins de 2 heures de Tokyo.
          Autour de la ville et du lac principal de Kawaguchiko, des montagnes s'élevent au dessus des lacs qui
          reflètent le majestueux mont Fuji.
        </p>
      </div>
    </div>
</section>
<br>
<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-md-6">
        <h1>Mont fuji</h1>
        <p>
          Capricieux et superbe, il n'est pas toujours facile de l'admirer. Si il est visible depuis Tokyo, quelques nuages
          suffisent à cache le mont Fuji des curieux. Dès votre arrivé en train dans la région de Kawaguchiko, ce géant se
          dévoilera, cachant le ciel de sa superbe. Les abords du lacs offrent des vues mémorables avec le reflet du volcan dans
          leurs eaux. Pour les plus courageux, des randonnées permettent d'atteindre quelques sommets proches pour surplomber
          toute la région et prendre des photos à couper le souffle.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa005.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Nature</h1>
        <p>La région des cinqs lacs autour de Kawaguchiko a beaucoup à offrir aux amoureux de la nature. Les nombreux
          sentiers de randonnées permettent d'explorer les montagnes et les pourtours des lacs dans leurs moindres recoins.
          Il est également possible de louer des vélos afin de pouvoir visiter les lacs plus éloignés.
          Les lacs plus sauvages de Saiko, Yamanakako, Shojiko et Motosuko sont réputés pour observer la nature et la faune animale,
          surtout les oiseaux, ainsi que pour la pêche.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Ryokan</h1>
        <p>
          La région a beaucoup à offrir et y passer une nuit en Ryokan est une merveilleuse idée. Réputée pour ses sources
          themales volcaniques, la région de Kawaguchiko possèdent beaucoup de Onsen (sources d'eau chaude) et de Ryokan
          (auberge traditionnelle japonaise) pour vous relaxer après votre journée. En dormant en Ryokan, un repas gastronomique
          est inclu et servi en chambre dans le pur style japonais : l'occasion de découvrir la richesse des produits naturels
          locaux.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'asakusa004.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
</section>
