<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>
          Si les magnifiques parcs et jardins japonais du centre de Tokyo ne sont pas assez pour vous permettre de respirer,
          les environs de la capitale vous combleront. Tout autour de la mégalopole s'étend une campagne riche et verdoyante. Des forêts
          mystérieuses abritent des sanctuaires shintoïstes, les pentes du Mont Fuji se réfléchissent dans les lacs avoisinant et
          les rizières verdoyantes continuent à perte de vue.</p>
      </div>
    </div>
</section>
<br>
<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-md-6">
        <h1>Contemplation saisonnière</h1>
        <p>
          Les saisons au Japon sont très marquées. Chaque saison a ses moments dédiés à la contemplation de la nature.
          Les cerisiers en fleurs au printemps sont certainement le plus célèbre évènement. A l'automne, les montagnes
          se couvrent d'un dégradé impressionnant de rouge et de jaune et en été, de nombreux parc et jardins se couvrent de
          fleurs sur des kilomêtres offrant des vues à couper le souffle.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_001.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Autour de Tokyo</h1>
        <p>Tokyo est situé en bord de mer dans une plaine entourée de montagnes. Du volcan mythique Mont Fuji au sud à
           l'ancienne capitale impériale Nikko cachée dans les forêts des montagnes au nord, de nombreux endroits
          fabuleux sont accessibles facilement en train ou en bus depuis la capitale.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_002.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Parcs et jardins</h1>
        <p>Même sans quitter Tokyo, il est possible de se détendre au coeur de la verdure. Tokyo compte nombre de parcs immenses
          où les Japonais pratiquent leurs activités favorites. Dans les jardins de style japonais, plus calmes et avec une
          esthétique très travaillée, quelques pas suffisent pour se sentir serein et relaxé.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_002.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
</section>
