<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>
          Riche d'une culture millénaire, le Japon contribue aussi pleinement au monde moderne. Manga, animé, jeux-vidéo,
          cinéma et musique.. dans bien des domaines le Japon produit des références mondiales de la culture pop.
          Que vous soyiez déjà fan ou souhaitiez découvrir une facette décalée du pays, cette journée ne sera pas comme
          les autres !
        </p>
      </div>
    </div>
</section>
<br>
<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-md-6">
        <h1>Anime et manga</h1>
        <p>Un fan de manga ne s'ennuira pas à Tokyo ! Des complexes entiers et des musées sont entièrement dédiés à vos héros préférés.
          De l'univers poétique de Miyazaki aux aventures de Naruto ou Chapeau de paille, tout le monde sera comblé. Des quartiers entiers,
          comme Akihabara ou Nakano, concentrent nombres de boutiques idéales pour trouver goodies, dvd ou le manga qui vous manque, ainsi
          que des restaurants et cafés thématiques. Dans ces rues, il n'est pas rare de croiser quelques groupes pratiquant le cosplay.<br>
          Enfin, tout au long de vos journée, vous aurez le bohneur de découvrir des endroits qui ont inspiré vos mangakas favoris.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_001.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Jeux-vidéo</h1>
        <p>Dans le pays qui a donné naissance à Nintendo et Sega, les jeux-vidéos sont toujours très populaires. Les japonais de tout
          age en sont friands que ce soit sur console, ordinateur ou bien encore sur leurs smartphones !  De gigantesques salle d'arcade
          rétro ou plus moderne parsement la capitale. Récemment, des salles équipés de lunettes de réalités virtuelles permettent de
          s'essayer aux dernieres nouvautés. Plus traditionnels, les salle de Pachinko (machines à sous japonaise) sont omniprésentes et
          attirent chaques jours des millions de Tokyoïtes.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_002.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Pop culture</h1>
        <p>La scène musicale japonaise n'est pas en reste ! Véritable phénomène de société, les idoles de musiques pop sont
          omniprésentes et cotoient une jeunesse extrèmement créative et inventive friande de concert.
          La scène underground électronique, punk et rock est aussi très vivante. De nombreux bars et restaurants donnant
          leur chance à de nouveaux talents potentiels chaque soir.<br>
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_003.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
</section>
