<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>
          A l'écart des endroits les plus connus de Tokyo, mais jamais très loin, des quartiers populaires et branchés se développent et
          attirent les Tokyoïtes chaque week-end. Visitez ces lieux moins connus qui forment le vrai coeur du Tokyo d'aujourd'hui.
          Mélange réussi de tradition et de modernité, ces quartiers ont su avec brio créer des espaces décontractés mélant art de vivre,
          mode, grastronomie et architecture.
        </p>
      </div>
    </div>
</section>
<br>
<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-md-6">
        <h1>Zen urbain</h1>
        <p>quartier calme / relax / verdure</p>
        <h1>Daikanyama</h1>
        <p>Au sud de Shibuya se sont développés des quartiers résidentiels et huppés. Restaurant avec terrace, boutiques branchées et
          patisseries de qualité bordent des rues calmes à l'ombre de nombreux espaces verts. Encore assez méconnus des voyageurs, ces
          quartiers dévoilent au mieux leur élégance et leur charme au cours d'une ballade relaxante dans leurs ruelles.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_001.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Architecture</h1>
        <p>architecture tradi/moderne, innovation toussa</p>
        <h1>Omotesando</h1>
        <p>De la gare d'Harajuku au quartier prisé d'Aoyama, Omotesando s'étire le long de l'avenue Meiji. Il est l'un des quartiers
          les plus riches de la capitale, où les marques et enseignes de luxe se battent pour avoir leur place. Les ruelles calmes
          abritant les restaurants et patisseries de luxe contrastent avec des avenues vibrantes d'activité commerciale. Au sud,
          la folie coloré d'Harajuku laisse peu à peu la place à une esthétique très cultivé lorsqu'on s'approche d'Aoyama.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_002.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Shopping branché et gourmand</h1>
        <p>boutique luxe/tendance resto/patisserie</p>
        <h1>Setagaya</h1>
        <p>A la bordure sud de Tokyo, le long de la rivière de Tama, s'étend l'immense district de Setagaya. Eloigné quelque peu du centre
        bouillonnant de la capitale, ce quartier dévoilent de nombreux atouts insoupsonnés à qui s'y aventure. D'immenses espaces et parcs se
        trouvent tout le long de la rivière, tandis que nichés dans les quartiers résidentiels se cachent de charmants et surprenants temples.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_003.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
</section>
