<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-xs-12">
        <div class="box tb-padding"><div class="icon"><div class="image"><i class="fa fa-map-marker"></i></div></div></div>
        <p>

          Tradi temple / monument / sites historique et musée. Artisanat/ceremonie
        </p>
      </div>
    </div>
</section>
<br>
<section class="container content-section text-center tb-padding">
    <div class="row">
      <div class="col-md-6">
        <h1>Religion et histoire</h1>
        <p>Fortement influencé des cultures et religions asiatiques, le Japon a développé un culture originale et unique grâce à
        une époque médiévale d'isolement et une histoire riche. De nombreuses religions sont ou ont été présentes au Japon. Souvent
        soutenues par le pouvoir impérial ou militaire, de fastueux complexes religieux ont été batis dans tous le pays.<br>
        Temples et sanctuaires majestueux, musée nombreux et anciens quartiers historiques temoignent d'un passé riche et
        tulmutueux.
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_001.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Cerémonie</h1>
        <p>
          Tradiotions japonaise profonde et ancienne : thé / budo / kimono / matsuri / fete saison
          sakura / koyo : nature
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_002.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Artisanat</h1>
        <p>Laque / travail bois / .... ? atelier/musée
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'hipster_theme_003.jpg', class: "img-responsive tb-padding" %>
      </div>
    </div>
</section>
