<div class="row">
  Shinjuku est l'un des 23 arrondissements de Tokyo et celui qui abrite le gouvernement de la préfecture. Centré autour de la gare la plus fréquentée du monde, il combine plusieurs visages tels que : quartier d'affaires, haut lieu de la vie nocturne tokyoïte et spot de shopping pour les amateurs.
Shinjuku est l'un des arrondissements de Tokyo les plus célèbres pour plusieurs raisons.

D'abord, le gouvernement de la métropole est installé dans ce poumon économique fascinant, qui accueille 310.000 habitants sur à peine plus de 18 km². On y retrouve du coup ce qu'on appelle la "skyline" de la capitale : une suite de gratte-ciels tous plus impressionnants les uns que les autres.

Mais Shinjuku est lui-même divisé en plusieurs quartiers hauts en couleurs (parmi lesquels Kabukicho, Okubo ou Takadanobaba) et abrite notamment l'un des plus grands parcs de Tokyo, le Shinjuku Gyoen.

De jour comme de nuit, pour sortir ou découvrir la capitale électrique, l'arrondissement est un incontournable et sa gare, la plus fréquentée du monde, accueille plusieurs millions de passagers chaque jour.
</div>
