<!-- Image Section -->
<section class="content-section colle-serre text-center">
  <div class="container-theme">
    <div class="overlay"></div>
    <div class="row bottom-space">
      <div class="col-xs-12 tagline surligne">
        <h3><%= theme.name %>  
          <a href="<%= theme_path(theme) %>">
            <span class="label label-default"><i class="fa fa-info"></i></span>
          </a>
        </h3>
      </div>
    </div>
  </div>
</section>
