<!-- Image Section -->
<div class="col-md-6 col-md-4">
  <a href ="<%= theme_path(theme) %>">
  <div class="container-theme">
    <div class="overlay" style="background: url(<%= asset_url(theme.image) %>) center center / cover no-repeat; position: absolute; display: block;"></div>
    <div class="row bottom-space">
        <div class="col-xs-12">
          <span class="txt-on-img txt-uppercase"><%= theme.name %></span>
        </div>
    </div>
  </div>
  </a>
</div>
