<div class="row text-center tb-padding">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="alert alert-warning"><p><i class="fa fa-2x fa-exclamation"></i></p>
      <p>Cette journée se déroule en dehors de Tokyo.</p>
    </div>
  </div>
</div>
