<header class="intro">
  <div class="slideshow"></div>
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <hr>
          <h3 class="brand-heading tagline">TOKYHOP!</h3>
          <p class="tagline">Laissez vous guider et visitez Tokyo de la plus belle des façons.</p>
          <hr>
        </div>
    </div>
  </div>
</header>
<!-- Header -->
<section class="container content-section text-center tb-padding">
    <div class="row" id="theme">
      <div class="col-xs-12">
        <div class="box"><div class="icon"><div class="image"><i class="fa fa-heart"></i></div></div></div>
        <h1>Une ambiance</h1>
        <p>Choisissez le thème de votre journée, nous l'organisons pour vous :-)</p>
      </div>
    </div>
    <div class="row">
      <% @themes.each do |theme| %>
        <div class="col-xs-6 col-sm-4 col-md-3 text-center">

            <%= link_to (theme) do %>
                <div class="thumbnail-container">
                  <%= label_tag("theme_id_#{theme.id}", class: "radio-thumbnail") do
                    radio_button_tag(:theme_id, theme.id) + image_tag(theme.image,
                    class: 'img-responsive img-center thumbnail')
                  end %>
                  <h4 class="tagline text-center"><%= theme.name %></h4>
                </div>
            <% end %>

        </div>
      <% end %>
    </div>
</section>

<section class="container content-section text-center tb-padding">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to "Préparer mon voyage !", new_trip_path, class: 'btn btn-hop btn-lg btn-block' %>
    </div>
  </div>
</section>
