<div class="print">
    <div class="page back-pink">
      <div class="row tb-padding text-center tagline">
        <div class="col-xs-8 col-xs-offset-2 block-1st-page">
          <h1 class="livret-title">Mon Tokyo</h1>
          <h2>Du 19 septembre au 22 septembre 2017</h2>
          <h2>Pour 2 adultes</h2>
        </div>
        <div class="col-xs-8 col-xs-offset-2">
          <i class="fa fa-plane fa-4x circled square"></i>
          <hr>
          <p class="small-text">avec</p>
          <h1>TOKYHOP!</h1>
          <h3>Tokyo à la carte</h3>
          <p>Visites thématiques et excursions privées sur mesure.</p>
          <h2>www.tokyhop.fun</h2>
          <hr>
        </div>
        <br>
      </div>
    </div>

    <div class="page">
      <div class="row text-center">
        <div class="col-xs-12 tb-padding">
          <p><i class="fa fa-2x fa-question circled"> Comment utiliser mon guide-livret ?</i></p>
        </div>
      </div>
      <div class="row text-left">
        <div class="col-xs-12">
          <p>Votre séjour a été organisé spécialement à votre attention. Nous avons apporté toute notre attention à préparer
            ce voyage pour qu'il vous corresponde. Nous espérons que votre séjour sera inoubliable !</p>
          <p>Vous trouverez tout d'abord des informations pour préparer votre voyage au mieux, quelques conseils à suivre avant
            votre départ et les prévisions météo pour la durée de votre séjour. Nous détaillons ensuite le programme de vos
            journées.<p>
          <p>Pour chaque journée, vous trouverez :
          <ul>
            <li>
              <p>Un programme pas-à-pas vous guidant tout au long de votre journée. Directions, transports, visites... toutes
              les informations utiles sont à votre disposition.</p>
            </li>
            <li>
              <p>Des cartes faites sur-mesure pour vous repérer et trouver facilement tous les points d'intérêts
                 sur votre parcours.</p>
            </li>
            <li>
              <p>Nos recommandations pour votre déjeuner et votre diner ainsi que les boutiques, artisans et magasins qui
              pourraient vous intéresser.</p>
            </li>
          </ul>
          <br>
          <h3><i class="fa fa-chevron-right"></i> Commencez d'un bon pied</h3>
          <br>
          <p>Sauf indication contraire sur le programme de votre journée, nous conseillons un départ
            à 9h00 de votre hotel. Vous éviterez ainsi l'heure de pointe matinale dans les transports tout en profitant d'une
            journée complète.<br>
            Partez léger ! Inutile de vous charger plus que nécessaire, il est facile d'acheter de l'eau sur votre parcours.</p>
          <br>
          <h3><i class="fa fa-chevron-right"></i> Un pas après l'autre</h3>
          <br>
          <p>Votre programme liste toutes les étapes de votre journée. Il vous suffit de suivre les indications et de
          profiter du moment. Dans quelle rue tourner, quel train emprunter, où manger notre gouter... tout est indiqué avec
          des points de repère facile à trouver.<br>
          Au fur et à mesure de votre promenade, cochez les étapes terminées. Simple et intuitif ! Impossible de s'égarer.</p>
          <br>
          <h3><i class="fa fa-chevron-right"></i> Des cartes à la rescousse</h3>
          <br>
          <p>En complément de votre programme, des cartes personalisées montrant votre parcours et les endroits interessants
          sont disponibles. Votre planning y fait référence grâce au logo : <i class="fa fa-map-marker fa-2x"></i>.</p>
        </div>
      </div>
    </div>

    <div class="page">
      <div class="row tb-padding text-center">
        <div class="col-xs-12 tb-padding">
          <p><i class="fa fa-check-square-o fa-4x circled"> Avant mon départ</i></p>
        </div>
        <div class="col-xs-12 text-left">
          <ul class="list-unstyled list-group text-left">
            <li class="list-group-item back-pink"><i class="fa fa-chevron-right"></i>
              Check-list
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Votre passeport est prêt et valide ? Pensez à vérifier sa date d'expiration !
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Prévenez votre banque que vous vous déplacez à l'étranger afin d'éviter une carte banquaire bloquée.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Avez-vous bien réservé tous vos hôtels et hébergements ?
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Vous n'avez pas oublié votre billet d'avion pour Tokyo, n'est-ce-pas ?
            </li>
            <li class="list-group-item back-pink"><i class="fa fa-chevron-right"></i>
              Pour vos bagages
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Des chaussures faciles à enlever et à rechausser sont indispensables. Il est souvent nécessaire de se déchausser
              avant d'entrer dans un batiment.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Si vous êtes sous traitement, n'oubliez pas d'emporter vos médicaments. Si possible, emportez l'ordonnance avec vous.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Voyagez léger ! Vous pourrez trouver tout ce dont vous avez besoin à Tokyo !
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Vérifiez le poid de vos bagages avant votre départ ainsi que le maximum autorisé
               par votre compagnie aérienne. Gardez une marge pour le retour, il y'aura surement des souvenirs en plus !
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="page">
      <div class="row">
        <div class="col-xs-12 text-center tb-padding">
          <p><i class="fa fa-calendar-check-o fa-4x circled"> Mon séjour</i></p>
        </div>
        <div class="col-xs-12 text-center">
          <ul class="list-unstyled list-group text-left">
            <li class="list-group-item back-pink"><i class="fa fa-chevron-right"></i> Lundi 22 juin 2017</li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Découverte des quartiers de Shibuya, Harajuku et Shinjuku
            </li>
            <li class="list-group-item back-pink"><i class="fa fa-chevron-right"></i>
              Mardi 23 juin 2017
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Une journée au coeur de la culture et la tradition japonaise
            </li>
            <li class="list-group-item back-pink"><i class="fa fa-chevron-right"></i>
              Mercredi 24 juin 2017
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Tour gastronomique de la capitale
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="page">
      <div class="row">
        <div class="col-xs-12 text-center tb-padding">
          <p><i class="fa fa-sun-o circled fa-4x">Ma météo</i></p>
        </div>
        <div class="col-xs-12 text-center">
          <p class="small-text tb-padding text-left">Le mois de Juin est généralement doux et agréable.
          Vous profiterez d'un bon ensoleillement mais de la pluie sous forme d'averse est à prévoir.
          Les températures varient entre 15° et 25°.</p>
          <ul class="list-unstyled list-group text-left">
            <li class="list-group-item back-pink"><i class="fa fa-chevron-right"></i>
            Prévision pour votre séjour
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Lundi 22 Juin : min. 18° max. 26° Ensoleilllé toute la journée, des nuages en soirée. Averses probables après 17h00.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Mardi 23 Juin : min. 17° max. 23° Couvert en matiné, le soleil se montrera dans l'après-midi.
              Forte probabilité de pluie toute l'après-midi.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Mercredi 24 Juin : min. 16° max. 27° Journée dégagée et ensoleillée. La pluie sera rare.
            </li>
         </ul>
        </div>
      </div>
    </div>

    <div class="page">
      <div class="row text-center tb-padding">
        <div class="col-xs-12 tb-padding">
            <h3>Lundi 22 juin 2017</h3>
            <p><i class="fa fa-2x circled">Découverte des quartiers de Shibuya, Harajuku et Shinjuku</i></p>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
          <ul class="list-unstyled list-group text-left">
            <li class="list-group-item back-pink"><i class="fa fa-chevron-right"></i> Ma journée en un coup d'oeil</li>
            <li class="list-group-item"><i class="fa fa-square-o"></i> Prenez un selfie devant la célèbre statue d'Hachiko</li>
            <li class="list-group-item"><i class="fa fa-square-o"></i> Traversez encore et encore le carrefour géant de Shibuya</li>
            <li class="list-group-item"><i class="fa fa-square-o"></i> Visite du quartier de Shibuya et de la colline des Love-Hotel</li>
            <li class="list-group-item"><i class="fa fa-square-o"></i> Bol d'air et pique-nique dans le parc de Yoyogi</li>
            <li class="list-group-item"><i class="fa fa-square-o"></i> Visite du grandiose sanctuaire de MeijiJingu</li>
            <li class="list-group-item"><i class="fa fa-square-o"></i> Promenade dans le quartier branché et décalé d'Harajuku</li>
            <li class="list-group-item"><i class="fa fa-square-o"></i> Diner traditionnel japonais au coeur de Shinjuku. </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i> Visite du quartier de Kabukicho : le coeur de la vie nocturne Tokyoïte </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="page">
      <div class="row text-center">
        <div class="col-xs-12">
            <h3>Lundi 22 juin 2017</h3>
            <p><i class="fa fa-2x fa-cutlery circled"> Mes repas</i></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 tb-padding">
          <ul class="list-unstyled list-group text-left">
            <li class="list-group-item back-pink"><i class="fa fa-chevron-right"></i> Mon déjeuner </li>
            <li class="list-group-item"><strong>Bento "Kasuka", le pique-nique traditionnel japonais.</strong></li>
            <li class="list-group-item">La boutique offre un vaste choix de spécialités japonaises sous forme de panier-repas.
              Vous mangerez dans un grand parc proche un peu plus tard.</li>
          </ul>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
          <div class="col-xs-4 text-center">
            <i class="fa fa-1x fa-map-marker tb-padding"> 1-C</i><br>
            <i class="fa fa-1x fa-jpy"> 900~1200 / </i><i class="fa fa-1x fa-male"></i>
          </div>
          <div class="col-xs-4">
            <img src="http://www.a-contresens.net/wp-content/uploads/2012/05/nourriture-japon-24.jpg" class="img-responsive print"></img>
          </div>
          <div class="col-xs-4">
            <img src="http://www.a-contresens.net/wp-content/uploads/2012/05/nourriture-japon-24.jpg" class="img-responsive print"></img>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 tb-padding">
          <ul class="list-unstyled list-group text-left">
            <li class="list-group-item back-pink"><i class="fa fa-chevron-right"></i> Mon diner </li>
            <li class="list-group-item"><strong>Diner à Shinjuku, Tempura.</strong></li>
            <li class="list-group-item">
              La tenpura est un assortiment de beignets frits, à la fois très savoureux et très digeste
              (une des rares fritures à basses calories), populaire au Japon depuis le XVIIème siècle.
              Un assortiment de poissons, fruits de mer et légumes est plongé dans une pâte-à-frire froide
              avant d'être frit dans de l'huile de sésame.<br>
             Le restaurant n'accepte pas les réservations, il y a donc souvent à faire la queue avant le repas,
             cela n'excède généralement pas plus de 20minutes.<br>
             </li>
          </ul>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
          <div class="col-xs-4 text-center">
            <i class="fa fa-1x fa-map-marker tb-padding"> 3-B</i><br>
            <i class="fa fa-1x fa-jpy"> 1100~1500 / </i><i class="fa fa-1x fa-male"></i>
          </div>
          <div class="col-xs-4">
            <img src="http://www.a-contresens.net/wp-content/uploads/2012/05/nourriture-japon-24.jpg" class="img-responsive print"></img>
          </div>
          <div class="col-xs-4">
            <img src="http://www.a-contresens.net/wp-content/uploads/2012/05/nourriture-japon-24.jpg" class="img-responsive print"></img>
          </div>
        </div>
        <br>
      </div>
    </div>


    <div class="page">
      <div class="row text-center tb-padding">
        <div class="col-xs-12 tb-padding">
            <h3><i class="fa fa-star-o"></i>Programme du Lundi 22 juin 2017<i class="fa fa-star-o"></i></h3>
            <p><i class="fa fa-2x circled"> Découverte des quartiers de Shibuya, Harajuku et Shinjuku</i></p>
        </div>
        <div class="col-xs-12">
          <ul class="list-unstyled list-group text-left">
            <li class="list-group-item back-pink"><i class="fa fa-chevron-right"></i>
               Lundi 22 juin 2017 - Ma matinée
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              De votre hôtel, rejoignez la station de train JR Gotanda.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <i class="fa fa-subway"></i>Prenez la ligne Yamanote (ligne verte) direction Shibuya.
              <blockquote>Gotanda --> Shibuya<br>
                Ligne Yamanote, sans changement<br>
                environ 8 minutes </blockquote>
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Descendez à Shibuya.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Prenez la sortie D6.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i> Repère 1-A :</strong>
              Vous arrivez sur une petite place où se trouve un ancien wagon de train vert réaménagé en office de tourisme.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Prenez un selfie avec l'emblématique Hachiko, le chien le plus célèbre du Japon !
              <blockquote>En 1924, le professeur Ueno Hidesaburo reçoit un chien et lui donne le nom de Hachiko.
                Chaque jour, Hachiko accompagne son maître jusqu'à la gare de Shibuya et chaque soir il se rend à la
                gare seul pour attendre son retour.<br>
                Le 21 mai 1925, Hidesaburo Ueno meurt à son travail. Hachiko continue de se rendre tous les jours
                à la gare de Shibuya pour attendre son maître. Jour après jour, le chien attend précisément à l'heure
                à laquelle le train de son maître était supposé arriver. Hachiko attendra son maître, chaque
                soir, pendant près de 10 ans avant de déceder le 8 mars 1935.</blockquote>
              </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Mélez-vous à la foule pour traverser le fameux carrefour en face de vous. Pour avoir une vue plongeante sur celui-ci
             , montez dans le batiment "Tsutaya" en face de vous.
              <blockquote>Le carrefour et sa traversé sont une expèrience amusante mais gardez à l'esprit qu'il s'agit d'un croisement !
                Quand les feux piétons passent au rouge, les voitures arrivent ! Respectez les feux et les passants et faites
                attention à la circulation. :)<br>
                Si vous souhaitez voir ce carrefour bondé de monde, l'heure du rush matinale (7h~9h) est impressionnante.
                Toutefois, les trains seront également très bondés.</blockquote>
              </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i> Repère 1-B :</strong>
              En faisant face au magasin Tsutaya, vous verrez, sur votre gauche, le géant "109" au sommet d'un batiment. Dirigez
              vous vers celui-ci en suivant l'avenue.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Arrivé au "109", suivez l'avenue sur sa gauche.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Suivez l'avenue pendant environ 150m et tournez à droite après le fast-food "Mos Burger".
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Montez l'escalier sur votre gauche.
              <blockquote>Vous voici sur la colline de Dogenzaka ! De petites rues piétonnes, très agréable en journée,
                abritent de nombreux bars, discothèques et clubs de toutes sortes. En faisant attention, vous appercevrez
                quelques rues plus discrètes. C’est là que se trouve les fameux "Love-Hotel". Ces hotels ont en général
                deux tarifs : pour une nuit, ou .. à l'heure, et permettent un moment d'intimité pour les couples. </blockquote>
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              En haut de l'escalier, tournez à gauche puis prenez la rue à votre droite.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Continuez tout droit jusqu'à voir la dicothèque "Clubasia" sur votre droite.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Tournez à droite, et continuez jusqu'à la grande avenue.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Tournez à droite et suivez l'avenue jusqu'à un grand carrefour. Vous appercevrez un magasin "H&M" en face de vous.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Traversez, et prenez la rue à gauche immédiatement après le magasin "H&M".
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Tournez dans la 1ère rue à droite.
              <blockquote> Au coeur de Shibuya, le "Center-Gai" est le centre de la mode pour la jeunesse Tokyoïte.
              Les ruelles qui vous entourent abondent de boutiques et magasins proposant tous les styles vestimentaires
              possibles.</blockquote>
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Tournez dans la 1ère rue à gauche.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i> Repère 1-C :</strong>
              Sur votre droite, se trouve la petite boutique "Kasuka". Achetez un délicieux bento
              (panier-repas japonais) en prévision de votre déjeuner.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Prenez la petite ruelle montante, en face de vous.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              En haut de cette ruelle, tournez à droite.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Arrivé à une grande avenue, suivez la sur votre gauche sur environ 200m.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Traversez le carrefour et prenez la grande allée piétonne en face de vous.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i> Repère 1-D :</strong>
              Suivez l'allée, et empruntez la passerelle piétonne au bout.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i> Repère 1-D :</strong>
              Vous voici au parc de Yoyogi. Votre matinée s'achève ici ! Trouvez un endroit plaisant et dégustez votre bento. :-)
            <blockquote>Le parc Yoyogi est un immense parc public. Cet espace vert en plein coeur de la capitale est un lieu de regroupement
              pour la jeunesse de Tokyo qui aime pratiquer diverses activités en groupe ici. Chant, danse, sport, cosplay... le parc est très
               vivant, surtout le week-end.</blockquote>
             </li>
            <li class="list-group-item back-pink"><i class="fa fa-chevron-right"></i> Lundi 22 juin 2017 - Mon après-midi</li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i> Repère 2-A :</strong>
              Dirigez-vous vers la sortie principale du parc. Depuis la passerelle par laquelle vous êtes arrivé,
              suivez l'allée partant à droite.</li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Sortez du parc et suivez le trottoir sur votre gauche.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o">
            </i><strong><i class="fa fa-map-marker"></i> Repère 2-B :</strong>
              Vous arrivez à l'entrée du sanctuaire de Meiji-Jingu, reconnaissable à son immense Tori en bois de cèdre.
              <blockquote>En 1915, la construction d'un sanctuaire dédié aux âmes divines de l'Empereur Meiji, mort en 1912,
                et de sa femme l'Impératrice Shoken, morte en 1914, débute au milieu d'un jardin dessiné par l'Empereur et
                composé de 100 000 arbres donnés de tout le Japon.<br>
                Le temple est détruit par les bombardements de 1945 et reconstruit en 1958, principalement en bois de cèdre.
                C'est le plus grand lieu de culte shintoïste du pays, où l'on célèbre de nombreux mariages et cérémonies.</blockquote>
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Entrez dans la foret du sanctuaire en passant sous le Tori et suivez l'allée ombragée.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Après les tonneaux d'alcool laissés en offrande, tournez dans la grande allée à droite
              pour arriver à l'entrée du temple.
              <strong><i class="fa fa-map-marker"></i>Repère 2-C</strong>
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Prenez le temps de visiter ce complexe magnifique puis sortez par la sortie Est. (à droite quand vous faites face
               au temple)
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Suivez l'allée sur votre droite, pour revenir à l'entrée du sanctuaire.
              <strong><i class="fa fa-map-marker"></i>Repère 2-B</strong>
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Traversez le pont passant au dessus des rails en face de vous.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Traversez le grand croisement en face de vous.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i><strong>
              <i class="fa fa-map-marker"></i>Repère 2-D</strong>
              Continuez tout droit sur la grande avenue "Meiji-dori".
              <blockquote>Le long de cette avenue de nombreux magasins valent le détour. N'hésitez pas à vous y arréter, nous
                avons indiqué sur votre carte nos coups de coeurs le long de votre parcours.</blockquote>
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i>Repère 2-E</strong>
              Après une douce monté, sur votre gauche se trouve un Apple Store. Tournez dans la petite rue juste avant celui-ci.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Au bout de la rue, tournez à gauche, puis à droite.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Continuez tout droit sur environ 200m.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i>Repère 2-G</strong>
              Faites-vous plaisir en achetant une glace artisanale au sésame à la boutique "GomaYa".
              <blockquote>Optez pour un duo sésame blanc et sésame noir pour gouter aux différences.</blockquote>
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Retournez sur vos pas sur environ 20m et prenez la premiere rue à droite.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Suivez cette rue, tout droit jusqu'au bout.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Arrivé au bout de la rue, tournez à gauche puis tout de suite à droite.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i>Repère 2-H</strong>
              A la fin de votre descente, vous arrivez dans le quartier hipster d'Harajuku.
              <blockquote>Cette emsemble de petite ruelle surnomé "Cat-Walk" est rempli de boutiques dédiées à
                la mode et aux arts. La jeunesse et la scène artistique a fait de ce lieu un endroit incontournable
                dynamique et branché.<br>
                Prenez le temps de déambuler dans les ruelles alentour et laissez vous porter par l'ambiance
                 vivante et bon-enfant de ce quartier tendance.</bloquote>
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Vous pouvez visitez les petites ruelles sur votre gauche et votre droite et profitez de ces nombreuses boutiques et galleries,
              mais attention à ne pas vous perdre. :) <br>
              Revenez ensuite sur la rue principale.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Continuez tout droit jusqu'à une grande avenue.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i>Repère 2-J</strong>
              Traversez-la, et prenez la ruelle aux couleurs électriques en face de vous.
              <blockquote>Vous voici dans Takeshita Dori. Cette rue piétonne très colorée s'étale sur environ 400m.
                Insolite et décalée, cette rue est une univers en elle même. Il n'est pas rare de voir des habitués
                du lieu portant quelques tenues excentriques se promener et profiter des nombreuses boutiques et sucreries.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Remontez la rue tranquillement. Les centres commerciaux qui bordent la rue valent l'effort de la visite,
               à l'interieur la folie continue. :)
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i>Repère 2-J</strong>
              Une petite faim après toute cette marche ? Prenez une crèpe chez Marion ! Si le nom est bien français,
              vous comprendrez vite que les japonais ont leur façon à eux de garnir les crèpes. Miam. :)
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i>Repère 2-K</strong>
              Vous voici arrivé au bout de la rue Takeshita. Traversez la route, et entrez dans la gare JR d'Harajuku
              en face de vous.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Prenez la ligne Yamanote (verte) direction Shinjuku.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Descendez à Shinjuku.
            </li>
            <li class="list-group-item back-pink"><i class="fa fa-chevron-right"></i>
              Lundi 22 juin 2017 - Ma soirée
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i>Repère 3-A</strong>
              Prenez la sortie Sud-Est ( South-East exit ) et descendez avec l'escalator sur une petite place.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              En face de vous, vous verrez un magasin vert qui fait angle. Prenez la rue à gauche, derrière ce magasin.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i>Repère 3-B</strong>
              Suivez la rue environ 50m, sur votre droite vous trouverez le restaurant "Tsunahashi" pour votre diner.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Après votre diner, une petit ballade nocturne sera très agréable et vous permettra de profiter de Shinjuku
              illuminé par les néons.<br>
              En sortant du restaurant, tournez à droite et continuez tout droit.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Arrivé à une première avenue, traversez-la et continuez tout droit.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i>Repère 3-C</strong>
              60m plus loin, vous arrivez devant une grande avenue. Traversez-là et prenez
              la petite ruelle avec des arbres qui s'enfonce à droite du marchand de Donuts.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <i class="fa fa-map-marker"></i>Repère 3-D</strong>
              Quelques mêtres plus loin, sur votre droite, les petite ruelles engoncées du Golden-Gai s'offrent à vous.
              <blockquote>Le Golden-Gai est un survivant. 6 petites ruelles étroites survivent courageusement au millieu de la folie
                urbaine qu'est Shinjuku. Etroit, vétuste et défoncé, cet endroit est pourtant beaucoup plus sûr qu'il n'y parait.
                Les bars du Golden-Gai sont tous très petits, certains n'ayant que 3 ou 4 places ne servent que les habitués !
                Les bars affichant leurs menus et leurs prix à l'exterieur acceptent les nouveaux clients. N'hésitez pas à
                prendre un verre.
              </blockquote>
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i>Repère 3-C</strong>
              Revenez sur vos pas, jusqu'au marchand de Donuts.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Suivez la grande avenue sur votre droite pendant environ 50m.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Prenez la deuxième petite rue à droite, juste avant une supérette "Family mart".
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i>Repère 3-E</strong>
              Vous entrez dans Kabukicho.
              <blockquote>Kabukicho est le quartier rouge de Tokyo. Il n'est pas dangereux de s'y promener mais une certaine vigilance
                s'impose de nuit. Ne répondez pas aux solicitations des rabateurs et ne vous y aventurez pas si vous avez un peu trop bu. :)
                Les agressions ne sont pas à craindre, mais si vous entrez dans le mauvais établissement, la facture peut être très salé !
                La nuit règne une atmosphère pour adulte. A coté des bars et restaurants, on peut trouver nombres de Love Hotel et bar
                à hotesse.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Continuez tout droit, et prenez la 3ème rue sur votre gauche.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Prenez ensuite la 2ème rue à gauche.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Suivez cette allée tout droit, pour revenir à l'avenue principale.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <strong><i class="fa fa-map-marker"></i>Repère 3-F</strong>
              Traversez l'avenue, et continuez tout droit jusqu'à la gare JR de Shinjuku.
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              <i class="fa fa-subway"></i> Pour rentrer à votre hotel, prenez la ligne Yamanote (verte), direction Shibuya.
              <blockquote>Shinjuku --> Gotanda<br>
                Ligne Yamanote, sans changement<br>
                environ 14 minutes </blockquote>
            </li>
            <li class="list-group-item"><i class="fa fa-square-o"></i>
              Descendez à Gotanda. Rentrez tranquillement à votre hotel et passez une bonne nuit. :)
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="page">
      <div class="row text-left tb-padding">
        <div class="col-xs-12 text-center tb-padding">
          <p><i class="fa fa-1x fa-map-marker circled"> Lundi 22 juin 2017 - Ma matiné à Shibuya - Carte 1</i></p>
        </div>
        <div class="col-xs-6">
          <ul class="list-unstyled list-group text-left">
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 1-A </strong>
                Statue d'Hachiko.
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 1-B </strong>
                le 109 (Grand magasin)
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 1-C </strong>
                bento Kasuka (acheterzvotre déjeuner ici)
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 1-D </strong>
                entrée du parc Yoyogi
            </li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul class="list-unstyled list-group text-left">
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 1-E </strong>
                Tokyu Hands - Enorme magasin sur 8 étage
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 1-F </strong>
                VR Zone - Salle d'arcade et jeux en tout genre
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 1-G </strong>
                Loft - Autre magasin géant où on trouve de tout !
            </li>
          </ul>
        </div>
        <div class="col-xs-12">
          <div class="map" data-livret="3" data-map="map01.jpg">
          </div>
        </div>
      </div>
    </div>

    <div class="page">
      <div class="row text-left tb-padding">
        <div class="col-xs-12 text-center tb-padding">
          <p><i class="fa fa-1x fa-map-marker circled"> Lundi 22 juin 2017 - Mon après-midi à Harajuku - Carte 2</i></p>
        </div>
        <div class="col-xs-6">
          <ul class="list-unstyled list-group text-left">
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 2-A </strong>
                Sortie du parc Yoyogi
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 2-B </strong>
                Entrée pour le sancturaire Meiji-Jingu
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 2-C </strong>
                Sanctuaire et temple
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 2-D </strong>
                Avenue Meiji Dori
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 2-E </strong>
                Apple Store
            </li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul class="list-unstyled list-group text-left">
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 2-G </strong>
                GomaYa - Glace artisanale au sésame
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 2-H </strong>
                CatWalk, quartier hipster d'Harajuku
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 2-I </strong>
                Takeshita Dori
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 2-J</strong>
                Crêpe "Chez marion"
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 2-K</strong>
               Gare JR Harajuku
            </li>
          </ul>
        </div>
        <div class="col-xs-12">
          <div class="map" data-livret="3" data-map="map02.jpg">
          </div>
        </div>
      </div>
    </div>

    <div class="page">
      <div class="row text-left tb-padding">
        <div class="col-xs-12 text-center tb-padding">
          <p><i class="fa fa-1x fa-map-marker circled"> Lundi 22 juin 2017 - Ma soirée à Shinjuku - Carte 3</i></p>
        </div>
        <div class="col-xs-6">
          <ul class="list-unstyled list-group text-left">
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 3-A </strong>
                Gare JR Shinjuku - Sortie Sud-Est
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 3-B </strong>
                Restaurant "Tsunahashi" pour votre diner
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 3-C </strong>
                Marchand de Donuts
            </li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul class="list-unstyled list-group text-left">
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 3-D </strong>
                Golden-Gai
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 3-E </strong>
                Kabukicho
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>
              <strong> 3-F</strong>
                Gare JR Shinjuku - Sortie Est
            </li>
          </ul>
        </div>

        <div class="col-xs-12">
          <div class="map" data-livret="3" data-map="map03.jpg">
          </div>
        </div>
      </div>
    </div>
