<!-- Header -->
<header class="business-header">
  <div class="slideshow"></div>
</header>
<!-- Header -->
<section class="container content-section text-center tb-padding">
  <div class="row tb-padding">
    <div class="col-md-12">
      
    </div>
  </div>
</section>
