<!-- Header -->
<header class="business-header no-print">
  <div class="slideshow"></div>
</header>
<!-- Header -->
<section class="container content-section text-left tb-padding no-print">
  <div class="row tb-padding">
    <div class="col-md-8 col-md-offset-2 no-print">
      <div class="alert alert-success"><p class="text-center"><i class="fa fa-2x fa-exclamation"></i></p>
        <p>Après avoir réservé votre séjour avec Tokyhop, vous recevrez votre programme de visite
         personnalisé selon vos propres souhaits et préférences.</p>
         <p>Ce programme de visite a été préparé à titre d'exemple et peut être consulté librement.<br>
         Il n'est pas destiné à étre utilisé pour réellement plannifier votre séjour.</p>
      </div>
      <%= link_to 'Imprimer mon programme de visite', '#',
                  class: 'btn btn-block btn-success',
                  onclick: 'window.print();return false;'%>
    </div>
  </div>
</section>

<%= render 'sample' %>
