<!-- Intro Header -->
<header class="intro">
  <div class="slideshow"></div>
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading tagline">KRAKOUKASS</h1>
          <p class="intro-text tagline">Vos vacances à Tokyo comme personne !
            <br>Réservez vos vacances sur mesure maintenant.</p>
            <div class="row">
              <div class="col-lg-6 col-lg-offset-3">
                <p class="text-center"><%= link_to "Réserver mon voyage", trips_path, class: "btn btn-success btn-block" %></p>
                <p class="text-center"><%= link_to "Comment ça marche ?", "#info-row", class: "btn btn-success btn-block" %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>



<!-- Infos Section -->
<section  id="info-row" class="container content-section text-center">
  <%= render('shared/infos') %>
</section>

<%= render('shared/commercial') %>
