<!-- Page Content -->
<section class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Show User / Root page</h2>
                <p class="lead"><%= link_to "Signout", destroy_user_session_path, method: :delete %></p>
            </div>
            <div class="col-lg-5 offset-lg-2">
                <img class="img-fluid" src="../assets/sete.jpeg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->
</section>
