
<!-- Header -->
<header class="intro-header">
    <div class="container">
        <div class="intro-message">
            <h1>Welcome %N !</h1>
            <h3>Choose your trip now !</h3>
            <hr class="intro-divider">
            Design 2 button Full trip / Day trip
        </div>
    </div>
</header>
<!-- Page Content -->
<section class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Show User / Root page</h2>
                <p class="lead"><%= link_to "Signout", destroy_user_session_path, method: :delete %></p>
            </div>
            <div class="col-lg-5 offset-lg-2">
                <img class="img-fluid" src="../assets/sete.jpeg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->
</section>

<section class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 push-lg-7">
                <hr class="section-heading-spacer1">
                <div class="clearfix"></div>
                <h2 class="section-heading">3D Device Mockups<br>by PSDCovers</h2>
                <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
            </div>
            <div class="col-lg-5 pull-lg-5">
                <img class="img-fluid" src="../assets/sete.jpeg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</section>
<!-- /.content-section-b -->
