<!-- Image Section -->
<section class="content-section text-center">
    <div class="download-section">
        <div class="image-overlay"></div>
        <div class="row middle-row">
          <div class="col-lg-8 col-lg-offset-2">
              <h2 class="tagline" id="theme-title">TOKYO</h2>
              <p class="tagline" id="theme-descr">Visitez Tokyo et sa région comme personne. Nous nous occupons de tout.</p>
          </div>
        </div>
        <div class="row bottom-row">
          <div class="col-xs-12">
            <%= link_to "Nos idées de visites à Tokyo", themes_path, class:"btn btn-default btn-lg" %>
          </div>
        </div>
    </div>
</section>
