<!-- Image Section -->
<section class="content-section text-center">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to "Besoin d'idée pour votre journée ?", themes_path, class: "btn btn-block btn-success" %>
    </div>
  </div>
    <div class="download-section" data-ajax="true">
        <div class="image-overlay"></div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <span class="txt-on-img theme-title">TOKYO</span>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= link_to "Parcourez nos thèmes de visites !", themes_path, class: "btn btn-block btn-success" %>
      </div>
    </div>
</section>
