<section  id="info-row" class="content-section text-left back-green tb-padding">
  <div class="row bottom-space">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-question"></i></div></div></div>
      <hr>
      <h3 class="text-center">Votre voyage à la carte !</h3>
      <p>Visitez et profitez de Tokyo comme personne. Découvrez toute la richesse de Tokyo en suivant un programme personnel,
      élaboré spécialement pour vous selon vos préférences par une équipe locale passionnée.</p>
      <p>Dites adieu aux visites de groupe préformattées et rendez votre collegue Mathilde jalouse avec vos photos uniques.
      Vous maitrisez toutes les facettes de votre voyage depuis votre téléphone ou votre ordinateur. En toute simplicité
      et sans stress, nous organisons et réservons vos visites. Vous n'avez qu'à vous laissez guider. :) </p>
      <hr>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <p class="lead">Voulez-vous en savoir plus ?</p>
      <%= link_to "Comment personaliser mon voyage ?", "#", class: "btn btn-hop" %>
    </div>
  </div>
</section>

<section  id="info-row" class="content-section text-center back-brown tb-padding">
  <div class="row bottom-space">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-cogs"></i></div></div></div>
      <hr>
      <h3>A chaque jour son bohneur</h3>
      <p class="text-left">Ne vous tracassez pas pour décider quoi visiter, nos équipes sélectionneront le meilleur
      pour vous. Laissez-vous guider par nos suggestions et choisissez un thème pour chaque journée. Vous voulez découvrir
      la Tokyo impériale d'autrefois ? Vous plonger dans la folie électro-pop des quartiers nocturnes ? Vous imprégner
      de culture et traditions japonaises ? On est avec vous ! Ne passez pas des mois à fouillez internet et bibliothèque
      pour organisez votre voyage, notre passion pour cette ville est à votre portée. :)</p>
      <p class="text-left">De bons restaurants et la découverte des mets locaux est important à tout voyage ! Nous le savons
        bien et réservons pour vous le restaurant qui vous correspond. Déjeuner et/ou diner, la gastronomie japonaise vous attend !</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <p class="lead">Voulez-vous en savoir plus ?</p>
      <%= link_to "Que faire à Tokyo ?", themes_path, class: "btn btn-hop" %>
    </div>
  </div>
</section>

<section  id="info-row" class="content-section text-center back-pink tb-padding">
  <div class="row bottom-space">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="box"><div class="icon"><div class="image"><i class="fa fa-cab"></i></div></div></div>
      <hr>
      <h3>Laissez-vous guider !</h3>
      <p class="text-left">Trois semaines avant votre départ, vous recevez votre guide-livret personnel par email.
      Fait sur mesure, ce guide contient toutes les informations nécessaires à votre séjour. Chaque journée est
      détaillée étape par étape : transport, direction, carte... impossible de se perdre !</p>
      <p class="text-left">Le livret vous indiquera les activités et visites prévues, les informations utiles et les conseils pour
        profiter au mieu de ses endroits.</p>
      <p class="text-left">Vous souhaitez visitez la ville avec un guide personnelprivé qui vous accompagne
      tout au long de la journée ? C'est possible ! Nos guides locaux et passionnés seront à vos cotés pendant tout
      votre séjour.</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <p class="lead">Voulez-vous en savoir plus ?</p>
      <%= link_to "Comment se présente mon guide-livret ?", "#", class: "btn btn-hop" %>
    </div>
  </div>
</section>
