<!-- Intro Header -->
<header class="intro">
  <div class="slideshow"></div>
  <div class="intro-body">
    <div class="container">
      <div class="row tb-padding tagline">
        <div class="col-md-8 col-md-offset-2">
          <hr>
          <h1 class="brand-heading">TOKYHOP!</h1>
          <h3>Hop, Tokyo à la carte !</h3>
          <p>Séjour sur mesure avec ou sans guide.</p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</header>
<%= render('shared/infos') %>
<%= render ('shared/commercial') %>
<%= render ('shared/contact') %>
