<header class="intro">
  <div class="slideshow"></div>
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="empty-space"></div>
      </div>
      <div class="row tb-padding tagline text-left">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
          <h1>Découvrez Tokyo</h1>
          <hr>
          <h3>Tokyo à la carte</h3>
          <p>Découvrez Tokyo avec un programme de visite personalisé selon vos goûts. Une expérience
             unique et sur mesure pour vivre un séjour inoubliable à Tokyo.</p>
                <%= link_to "Préparer mon voyage", themes_path, class: "btn btn-block btn-hop" %>
        </div>
      </div>
    </div>
  </div>
</header>

<%= render('shared/infos') %>

<%= render ('shared/contact') %>
