<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Nous avons bien pris en compte votre réservation pour votre séjour Tokyhop!</h3>

    <p>Votre voyage "<%= @trip.name %>" pour <%= @trip.adults %> adulte(s) et <%= @trip.kids %> enfant(s), est maintenant réservé.</p>

    <p>Nos équipes vont maintenant vérifier et organiser votre voyage selon vos préférences.<br>
    Ce processus peut prendre quelques jours, ne vous inquiétez pas ! Nous nous occupons de tout à partir de maintenant.
    </p>
    <p>Vous recevrez un email dès que votre voyage sera prêt. Vous pourrez alors procéder au paiement
      sécurisé sur le site Tokyhop! pour confirmer votre voyage.</p>

    <p>Pour toute demande, n'hésitez pas à nous contacter :</p>
    <h4>contact@tokyhop.fun</h4>

    <p>A très bientôt,<br>
      L'équipe de Tokyhop!</p>
  </body>
</html>
