<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour et bienvenue sur TokyHop!</h1>
    <p>Votre compte a bien été créé et nous sommes ravis de vous compter parmis nous !<br>
      Tokyo vous tend maintenant les bras. Connectez-vous sur Tokyhop et créez votre premier
      voyage.</p>
    <p>Ne perdez pas de temps :</p>
    <h4><%= link_to 'Visitez Tokyo avec nous.', root_url %></h4>
    <p>Pour toute demande, n'hésitez pas à nous contacter :</p>
    <h4>contact@tokyhop.fun</h4>

    <p>A très bientôt,<br>
      L'équipe de Tokyhop!</p>
  </body>
</html>
