<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Votre guide-livret est disponible !</h3>

    <p>Merci pour votre patience ! Votre guide-livret est maintenant disponible ! </p>

    <%= link_to 'Voir mon guide-livret', '#' %>

    <p>Pour toute demande, n'hésitez pas à nous contacter :</p>
    <h4>contact@tokyhop.fun</h4>

    <p>A très bientôt,<br>
      L'équipe de Tokyhop!</p>
  </body>
</html>
