<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="color:#000;text-align:center;text-transform: uppercase;font-family:'Montserrat','Helvetica Neue',
   Helvetica, Arial, sans-serif;font-weight: 900;letter-spacing: 3px;;background-color:#ffbf8a;padding:50px 25px;">
    <h3>Votre voyage "<%= @trip.name %>" est payé et confirmé !</h3>

    <p>Nous vous remercions pour votre confiance et votre achat. Votre voyage est maintenant confirmé.</p>
    <p>Nos équipes vont finaliser l'organisation de votre séjour et vous recevrez prochainement par email tous les détails de
      vos journées. Votre guide-livret sera également disponible au téléchargement sur le site internet.</p>

    <p>Pour toute demande, n'hésitez pas à nous contacter :</p>
    <h4>contact@tokyhop.fun</h4>

    <p>A très bientôt,<br>
      L'équipe de Tokyhop!</p>
  </body>
</html>
