.omniauth a {
  display: block;
  text-decoration: none;
  border: solid 2px #000;
  color: #000;
  background-color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 11px;
  margin: 10px 20px;
}

.block input {
 border: solid 1px #000;
 border-radius: 11px;
 padding: 2px 5px;
 margin: 2px;
}

.block label {
  text-align: left;
}

.block input[type='submit'] {
  background-color: #fff;
  margin: 2px;
  padding: 2px 65px;
}

.debug {
  border: solid 1px red;
}
