@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.debug {
  border: 1px solid red;
}

#flash-section {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 50px;
  height: 120px;
  z-index: 999;
}

.chapeau-header{
  text-align: center;
  margin-top: 150px;
}

.chapeau-header h1 {
  font-size: 6em;
}

.form-container {
  border: 1px solid grey;
  margin-top: 90px;
  padding: 60px 10px;
  background-color: rgba(210,200,200,0.8)
}

.header-background {
  background-color: rgba(210,200,200,0.8);
  padding: 15px 20px;
  border: 1px solid grey;
  border-radius: 3px;
}

.form-low-container {
  margin: 0;
  padding: 15px 20px;
  color: grey;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: #f9f9f9;
}

.form-label {
  text-align: center;
  background-color: #5bc0de;
  border-radius: 5px;
  line-height: 2em;
  padding :0;
  margin: 10px 10px 25px 10px;
  color: #f9f9f9;
}

.wrapper {
  margin: 30px 15px;
}

.fa {
  padding: 0 5px;
}

.decal-left {
  margin-left: 60px;
}

#trip_adults {
  width: 60px;
}

#trip_kids {
  width: 60px;
}


 /* Start Bootstrap - Round About (http://startbootstrap.com/)
 /* Copyright 2013-2016 Start Bootstrap
 /* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)*/


body {
  padding-top: 50px;
/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-center {
 margin: 0 auto;
}

footer {
 margin: 50px 0;
}

.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

 /* Start Bootstrap - Business Frontpage (http://startbootstrap.com/)
 /* Copyright 2013-2016 Start Bootstrap
 /* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)*/

.business-header {
 height: 600px;
 /*'http://placehold.it/1920x400'*/
 background: asset-data-url("main.jpg") center center no-repeat scroll;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 -o-background-size: cover;
 padding-top: 75px;
 margin-bottom: 10px;
}

/* Customize the text color and shadow color and to optimize text legibility. */
.tagline {
 text-shadow: 0 0 10px #000;
 color: #fff;
}

/* From Bootsnip for information about trip Box
https://bootsnipp.com/snippets/featured/boxes-with-icon-hover*/


.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #63B76C; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 14px; color: #222; line-height: 16px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }

/* From bootsnip for custom check box
https://bootsnipp.com/snippets/featured/material-design-switchn */

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
