@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-social";

//sakura pink FFB7C5
//green comple C5FFB7
$primary: #ff8a8a;
$dark-pink: #bb3030;
$secondary: #ffbf8a;
$tertiary: #6fcd6f;


.debug {
  border: 1px solid red;
}

.circled {
  background-color: #fff;
  color: #dc3740;
  border: 3px solid #dc3740;
  border-radius: 100px;
  padding: 20px;
  margin: 25px;
}

.square {
  width: 100px;
  height: 100px;
}

.row {
  margin: 0;
}

#flash-section {
  position: absolute;
  top: 90px;
  left: 10%;
  width: 80%;
  z-index: 999;
}

.text-default {
  font-size: 1em;
  font-weight: 400;
}

.wrapper { //used for devise/create view
  color: grey;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: rgba(210,200,200,0.2);
  padding: 25px 15px;
}

.header-wrapper { //useless ?
  color: grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 20px 5px;
  background-color: rgba(255,255,255,0.5)
}

.bottom-space {
  margin-bottom: 40px;
}

.small-text {
  font-size: 1.2em;
}

.little-padding {
  padding: 4px;
}

.little-margin {
  margin: 4px;
}

.colle-serre {
  margin: 0;
  padding: 0;
}

.container-theme {
  position: relative;
  width: 100%;
  height: 350px;
}

.overlay { //background image cover without JS ajax request, used for _theme
  position: absolute;
  background: grey;//asset-data-url("001.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

 /* Start Bootstrap - Business Frontpage (http://startbootstrap.com/)
 /* Copyright 2013-2016 Start Bootstrap
 /* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)*/

.business-header {
 position: relative;
 height: 320px;
 padding-top: 0;
 margin-bottom: 10px;
 background-color: #000;
}

/* Customize the text color and shadow color and to optimize text legibility. */
.tagline {
 text-shadow: 2px 2px 5px #000;
 color: #fafafa;
 font-weight: 00;
}

.txt-on-img {
 text-shadow: 0 0 10px #000;
 color: #fff;
 line-height: 350px;
 font-size: 12vw;
}

@media (min-width: 768px) {
  .txt-on-img{
    font-size: 6vw;
  }
}

.surligne {
  background-color: rgba(210,200,200,0.5);
}

/*for image centering in the thumbnails*/
.img-center {
	margin: 0 auto;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.btn-hop {
  //background-color: #ffe1ca;
  background-color: $primary;
  //background-color: #dc3740;
  //color: #FECACB;
  color: #fff;
  border-radius: 10px;
}

.btn-hop:hover,
.btn-hop:focus {
  outline: none;
  color: #fff;
  //background-color: #FECACB;
  background-color: $dark-pink;
}

.back-green {
  //background-color: #279c64;
  background-color: $tertiary;
  color: #fff;
}

.back-pink {
  background-color: $secondary;
  color: #fff;
}

.back-brown {
  background-color: #e08138;
  color: #fff;
}

.tb-padding {
  padding: 25px 0;
}

.height-fixed {
  height: auto;
}

@media (min-width: 768px) {
  .height-fixed {
    height: 450px;
  }
}
