@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-social";

.debug {
  border: 1px solid red;
}

#flash-section {
  position: absolute;
  margin-top: 75px;
  width: 100%;
  z-index: 999;
}

.wrapper {
  color: grey;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: #f9f9f9;
  padding: 25px 15px;
}

.header-wrapper {
  color: grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 10px 50px;
  margin-bottom: 50px;
}




.theme-details {
  display: inline-block;
  width: 100%;
  height: 300px;
  background-color: rgba(210,200,200,0.8);
  border: 1px solid grey;
}

.thumb-img {
  height: 100%;
  width: 100%;
}

.chapeau-header{
  text-align: center;
  padding-top: 50px;
}

.chapeau-header h1 {
  font-size: 6em;
}

.form-container {
  border: 1px solid grey;
  background-color: rgba(210,200,200,0.8)
}

.form-container-spacing {
  margin-top: 90px;
  padding: 60px 10px;
}

.header-background {
  background-color: rgba(210,200,200,0.8);
  padding: 15px 20px;
  border: 1px solid grey;
  border-radius: 3px;
}

.form-low-container {
  margin: 0;
  padding: 15px 20px;
  color: grey;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: #f9f9f9;
}

.form-label {
  text-align: center;
  background-color: #5bc0de;
  border-radius: 5px;
  line-height: 2em;
  padding :0;
  margin: 10px 10px 25px 10px;
  color: #f9f9f9;
}


.fa {
  padding: 0 5px;
}

.decal-left {
  margin-left: 60px;
}

#trip_adults {
  width: 60px;
}

#trip_kids {
  width: 60px;
}




 /* Start Bootstrap - Business Frontpage (http://startbootstrap.com/)
 /* Copyright 2013-2016 Start Bootstrap
 /* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)*/

.business-header {
 height: 600px;
 /*'http://placehold.it/1920x400'*/
 background: asset-data-url("main.jpg") center center no-repeat scroll;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-size: cover;
 -o-background-size: cover;
 padding-top: 75px;
 margin-bottom: 50px;
}

/* Customize the text color and shadow color and to optimize text legibility. */
.tagline {
 text-shadow: 0 0 10px #000;
 color: #fff;
}
