.livret-title {
  font-size: 4em;
}

.block-1st-page {
  margin-top: 3cm;
  margin-bottom: 3cm;
}

blockquote {
  font-size: 10pt;
}

i {
  margin-left: 5px;
  margin-right: 5px;
}

#map {
  height: auto;
  width: 100%;
}


@media print {

  @page {
    size: 210mm 297mm;
  }

  .circled {
    border-color: #fff;
  }

  body {
  width: auto!important;
  margin: auto!important;
  font-family: serif;
  font-size: 12pt;
  background-color: #fff!important;
  color: #000!important;
  }
  p, h1, h2, h3, h4, h5, h6, blockquote, ul, ol {
    color: #000!important;
    margin: auto!important;
  }

  .print {
    display: block; /* affichage des éléments de classe print */
  }
  .page {
    display: block; /* affichage des éléments de classe print */
    page-break-after: always; //One section print by page
  }
  .no-print {
    display: none !important;
  }
  p, blockquote {
    orphans: 3; /* pas de ligne seule en bas */
    widows: 3; /* pas de ligne seule en haut */
  }
  blockquote, ul, ol {
    page-break-inside: avoid; /* pas de coupure dans ces élements */
  }
  h1, h2, h3, caption {
    page-break-after: avoid; /* pas de saut après ces éléments */
  }
  a {
    color: #000!important;
    text-decoration: underline!important;
  }
  a[href]:after {
    content: " (" attr(href) ")"; /* affichage des URL des liens */
  }
  img {
   max-width: auto !important;
 }
 .back-pink {
   border: 2px solid black;
 }
} // end media print
